obj/Debug/netcoreapp3.1/ProjectShcool_Api.dll
obj/Debug/netcoreapp3.1/ProjectShcool_Api.pdb
bin/Debug/netcoreapp3.1/Remotion.Linq.dll
bin/Debug/netcoreapp3.1/System.Interactive.Async.dll
bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.dll

obj/Debug/netcoreapp3.1/ProjectShcool_Api.csprojAssemblyReference.cache
obj/Debug/netcoreapp3.1/ProjectShcool_Api.csproj.CoreCompileInputs.cache
obj/Debug/netcoreapp3.1/ProjectShcool_Api.csprojAssemblyReference.cache
obj/Debug/netcoreapp3.1/ProjectShcool_Api.dll
obj/Debug/netcoreapp3.1/ProjectShcool_Api.pdb
obj/Debug/netcoreapp3.1/ProjectShcool_Api.csproj.FileListAbsolute.txt
obj/Debug/netcoreapp3.1/ProjectShcool_Api.csproj.CopyComplete
bin/Debug/netcoreapp3.1/ProjectShcool_Api.deps.json
bin/Debug/netcoreapp3.1/ProjectShcool_Api.dll
bin/Debug/netcoreapp3.1/ProjectShcool_Api.pdb
obj/Debug/netcoreapp3.1/ProjectShcool_Api.csproj.CoreCompileInputs.cache
obj/Debug/netcoreapp3.1/ProjectShcool_Api.csproj.FileListAbsolute.txt
obj/Debug/netcoreapp3.1/ProjectShcool_Api.csprojAssemblyReference.cache
obj/Debug/netcoreapp3.1/ProjectShcool_Api.dll
obj/Debug/netcoreapp3.1/ProjectShcool_Api.pdb
obj/project.assets.json
obj/project.nuget.cache
obj/ProjectShcool_Api.csproj.EntityFrameworkCore.targets
obj/ProjectShcool_Api.csproj.nuget.dgspec.json
obj/ProjectShcool_Api.csproj.nuget.g.props
obj/Debug/netcoreapp3.1/ProjectShcool_Api.assets.cache
obj/Debug/netcoreapp3.1/ProjectShcool_Api.csproj.CoreCompileInputs.cache
obj/Debug/netcoreapp3.1/ProjectShcool_Api.csproj.FileListAbsolute.txt
obj/Debug/netcoreapp3.1/ProjectShcool_Api.csprojAssemblyReference.cache
obj/Debug/netcoreapp3.1/ProjectShcool_Api.dll
obj/Debug/netcoreapp3.1/ProjectShcool_Api.pdb



bin
obj
bin/Debug/netcoreapp3.1/appsettings.Development.json
bin/Debug/netcoreapp3.1/ProjectShcool_Api.deps.json
bin/Debug/netcoreapp3.1/ProjectShcool_Api.dll
bin/Debug/netcoreapp3.1/ProjectShcool_Api.pdb
obj/Debug/netcoreapp3.1/ProjectShcool_Api.assets.cache
obj/project.assets.json
obj/project.nuget.cache
obj/ProjectShcool_Api.csproj.nuget.dgspec.json
obj/ProjectShcool_Api.csproj.nuget.g.props
obj/Debug/netcoreapp3.1/ProjectShcool_Api.assets.cache
obj/Debug/netcoreapp3.1/ProjectShcool_Api.csproj.CoreCompileInputs.cache
obj/Debug/netcoreapp3.1/ProjectShcool_Api.csproj.FileListAbsolute.txt
obj/Debug/netcoreapp3.1/ProjectShcool_Api.csprojAssemblyReference.cache
obj/Debug/netcoreapp3.1/ProjectShcool_Api.dll
obj/Debug/netcoreapp3.1/ProjectShcool_Api.pdb
Migrations/20200626030451_init.cs
Migrations/20200626030451_init.Designer.cs
Migrations/DataContextModelSnapshot.cs
